* body{
    margin: 0px;
    padding: 0px;
}
#containerTopo{
    width: 980px;
    height: 100px;
    background-color: black;
    margin: auto;
}
#logo{
    width: 200px;
    height: 100px;
    background-color: rgb(239, 6, 6);
    float: left;
}
#menu{
    width: 780px;
    height: 100px;
    background-color: rgb(255, 79, 79);
    float: right;
}
#banner{
    width: 700px;
    height: 400px;
    background-color: chocolate;
    margin: auto;
}
#rodape{
    width: 980px;
    height: 100px;
    background-color: rgb(235, 7, 7);
    margin: auto;
}