* body{
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
}
#topoContainer{
    width: 980px;
    height: 100px;
    margin: auto;
   /* background-color: brown; */
}
#logo{
    width: 200px;
    height: 100px;
    float: left;
    background-color: rgb(171, 218, 18);
}
#menu{
    width: 680px;
    height: 100px;
    float: right;
    background-color: purple;
}
#banner{
    width: 980px;
    height: 300px;
    background-color: brown;
    margin: auto;
    margin-top: 50px;
}
#conteudoSite{
    width: 980px;
    height: 300px;
   /* background-color: cadetblue; */
    margin: auto;
    margin-top: 50px;
}
#esquerda{
    width: 320px;
    height: 300px;
    float: left;
    background-color: blueviolet; 
}
#meio{
    width: 320px;
    height: 300px;
    float: left;
    background-color: cadetblue; 
    margin-left: 10px;
}
#direita{
    width: 320px;
    height: 300px;
    float: left;
    background-color: blue;
    margin-left: 10px;
}
#rodape{
    width: 980px;
    height: 100px;
    background-color: cornflowerblue;
    margin: auto;
    margin-top: 50px;
    clear: both;
}
