* body{
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
}
#topo{
    width: 980px;
    height: 50px;
    margin: auto;
   /* background-color: brown; */
}

#conteudo{
    width: 980px;
    height: 600px;
   /* background-color: cadetblue;*/
    margin: auto;
    margin-top: 50px;
}
#esquerda{
    width: 450px;
    height: 500px;
    float: left;
   /* background-color: blueviolet; */
}
#direita{
    width: 450px;
    height: 500px;
    float: right;
   /* background-color: blue;*/
}
